#wpwrap #wphead h1 {
	font: italic 1.25em/1 Georgia, "Times New Roman", Times, serif;
	position: absolute;
	z-index: 999;
	left: -20px;
}

#wpwrap #wphead #logo50 {
	margin-left:5px;
}

#wpwrap #wphead #breadcrumb {
	font-size: .8em;
}
#wpwrap #wphead #breadcrumb a {
	color: #2583AD;
}
#wpwrap #wphead #breadcrumb a:hover {
	color: #D54E21;
}

#adminmenu {
	padding-top: 0.4em;
}
#adminmenu a {
	font-size: 1em;
	line-height: 1.1;
}

#adminmenu .write-new-button {
margin-top:45px !important;
}

#poststuff h3, #normal-sortables h3 {
	font-size: 1em;
	margin: 0;
	padding: 0.25em 0.5em;
}
#poststuff #titlediv, #normal-sortables #titlediv {
	position: relative;
	margin-bottom: 0;
}
#poststuff #editor-toolbar, #normal-sortables #editor-toolbar {
	margin-top: -2em;
	height: 2em;
}
#poststuff #edit-slug-box, #normal-sortables #edit-slig-box {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5em;
}

#ed_toolbar input {
	padding: 0 0.2em;
}

.submitbox .submit {
	font-size: smaller;
	padding: 0.75em;
	text-align: center;
}
.submitbox .submit input, .submitbox .submit a {
	margin: 0;
	padding: 0.1em 0.2em;
}
.submitbox #previewview {
	padding: 0.75em;
	text-align: center;
}
.submitbox #previewview a {
	border-bottom: medium none;
	font-size: 0.95em;
	font-weight: normal;
	padding: 0.25em 0.5em;
	text-decoration: none;
}
.submitbox #autosave {
	display: block;
	padding-top: 0.25em;
}

#poststuff .postbox, #poststuff .stuffbox,
#normal-sortables .postbox, #normal-sortables .stuffbox {
	padding: 0;
}
#poststuff .togbox, #normal-sortables .togbox {
	background-position: -10px 0.55em;
	height: 1.75em;
	margin-top: 0;
}

#poststuff .closed .togbox, #normal-sortables .closed .togbox {
	background-position: 4px 0.55em;
}
#postdivrich h3 {
padding-bottom: 20px;
margin-bottom:20px;
}

#the-comment-list .unapproved {
	background-color: #FFDFD0;
}

#tagchecklist strong {
	margin-left: 0 !important;
	position: relative !important;
}